.square{
	width: 50px;
	height: 50px;
	background-color:#6CBFE8;
	position: absolute;
}
.game-space{
	background-color:#0A1115;
	width: 500px;
	height: 300px;
	position: relative;
}
.display{
	color: #6CBFE8;
	float: right;
	margin-top: 10px;
}
.timekeep{
	color: #6CBFE8;
	float: left;
	margin-top: 10px;
}

.display-zone{
	width: 500px;
	height: 50px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.start-button {
	float: left;
	margin-right: 20px;
}